<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_FILE" value="project-demo.log"/>
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <!--<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>-->
            <Pattern>%d{HH:mm:ss.SSS} [%thread] [%X{requestId}] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>
    <!-- 拦截到的log等级 -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.weitw.study" level="DEBUG"/>
    <logger name="org.jooq" level="DEBUG">
    </logger>
    <logger name="com.zaxxer" level="DEBUG">
    </logger>
</configuration>
